IMD/Practica_2/.ipynb_checkpoints/i62fujua_Practica_2-checkpoint.ipynb
IMD/Practica_2/i62fujua_Practica_2.zip
IMD/Practica_2/.ipynb_checkpoints/i62fujua_Practica_3-checkpoint.ipynb
IMD/Practica_3/.ipynb_checkpoints/i62fujua_Practica_3-checkpoint.ipynb
IMD/Practica_3/i62fujua_Practica_3.zip
IMD/Practica_3/.ipynb_checkpoints/i62fujua_Practica_4-checkpoint.ipynb
IMD/Practica_4/i62fujua_Practica_4.zip
IMD/Practica_5/.ipynb_checkpoints/i62fujua_Practica_5-checkpoint.ipynb
IMD/Practica_5/i62fujua_Practica_5.zip
IMD/Practica_4/.ipynb_checkpoints/i62fujua_Practica_5-checkpoint.ipynb
IMD/Practica_4/.ipynb_checkpoints/i62fujua_Practica_4-checkpoint.ipynb
.gitignore
